*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/************ homepage image ******************/
.home-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bbb;
    height: 80vh;
}
.home-page-text{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-size: 48px;
}
.home-page-image{
    display: flex;
    justify-content: center;
    width: 400px;
}
.home-page-image img{
    width: 200px;

}

/********  PRODUCTS **********/
.heading{
    font-size: 28px;
    padding: 20px 50px;
    width: 220px;
    background:linear-gradient( blue , white);
} 



.heading-design{

}
.product{
    display:flex;
    flex-direction: column;
    width: 300px;
    position: relative;
    cursor: pointer;
    min-height: 300px;
    background: linear-gradient(#ddd , #bbb);
    margin: 20px;

}
.product:hover .hide{
    display: flex;
    height: 70px;
}
.product img{
    width: 300px;
    padding: 20px;
}
.add-to-cart{
    background-color: rgba(0, 128, 0, 0.253);
    height: 0px;
    position: absolute;
    width: inherit;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.hide{
    display: none;
}
.products-container{
    display: flex;
    flex-wrap: wrap;
}