*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.testing{
    position: absolute;
    top:0px;
    transform: translate(100vw);
    transition: 2s;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
     color: inherit;
}
/************ homepage image ******************/
.home-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient( #a9a9a9 ,#f3f3f3 80%);
    min-height: 80vh;
    width: 100vw;
}
.home-page-text{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-size: 38px;
}
.home-page-text button{
    width: 100px;
    background-color: blue;
    border: none;
    color: white;
    font-weight: 600;
    height: 35px;
    position: relative;
    top:20px;
    cursor: pointer;
}
.home-page-text button:hover{
    background-color: rgb(0, 0, 187);
}
.home-page-image{
    display: flex;
    justify-content: center;
    width: 400px;
}
.home-page-image img{
    width: 150px;
    justify-self: center;
    align-self: center;
}

/********  PRODUCTS **********/
.heading{
    font-size: 28px;
    padding: 20px 50px;
    width: 220px;
    background:linear-gradient(to right , #a9a9a9 ,#f3f3f3 90%);
} 



.heading-design{

}
.product{
    display:flex;
    flex-direction: column;
    max-width: 300px;
    position: relative;
    cursor: pointer;
    min-height: 300px;
    background: linear-gradient(#f5f5f5 , #f7f7f7);
    margin: 20px;

}
.product:hover .hide{
    display: flex;
    height: 70px;
}
.product img{
    width: 300px;
    padding: 20px;
}
.add-to-cart{
    background-color: rgba(0, 128, 0, 0.253);
    height: 0px;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.add-to-cart:hover{
    background-color: rgba(0, 128, 0, 0.553);
}
.hide{
    display: none;
    }
.products-container{
    display: flex;
    flex-wrap: wrap;
}